<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Ansh</li>
        <li>Ansh c</li>
        <li>Ansh b</li>
        <li>Ansh A</li>
        <li>Ansh d</li>
        <li>Ansh e</li>
        <li>Ansh f</li>
      </ol>
      <hr>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>
      <button type="button" class="btn btn-primary" [disabled]="username === ''" (click) = "username = ''">Reset</button>
    </div>
  </div>
</div>
